.hero {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  overflow: hidden;
  position: relative;
}

.heroContent {
  flex: 1;
  padding: 100px;
  padding-right: 0;
  position: relative;
}

.brandTitle h1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
}

.brandTitle h1 span {
  color: #FFAD00;
}

.brandTitle p {
  font-size: 20px;
}